/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url('../images/cover-image-dark.png');
  --text-color: #FF0070;
  --title-decor: #FF0070;
  --text-color-title: #DB00FF;
  --bg-color: #000028;
  --text-paragr: #000028;
  --par-color: #F1B2CE;
  --accent-color: #ff0070;
}