/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --par-color: #353430;
  --title-decor: #FF8DCB;
  --text-color-title: #FFC2E6;
  --text-paragr: #353430;
}

.theme-light .decorative_element {
    display: none;
}

.theme-light .decorative_element::after {
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --par-color: #353430;
    --title-decor: #FF8DCB;
    --text-color-title: #FFC2E6;
    --text-paragr: #353430;
  }

  .decorative_element {
    display: none;
  }

  .decorative_element::after {
    display: none;
  }
}