/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --par-color: #353430;
  --title-decor: #ff8dcb;
  --text-color-title: #ffc2e6;
  --text-paragr: #353430;
  --button_hover: 50, 49, 45;
}

.theme-light .decorative_element {
  display: none;
}

.theme-light .decorative_element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --par-color: #353430;
    --title-decor: #ff8dcb;
    --text-color-title: #ffc2e6;
    --text-paragr: #353430;
    --button_hover: 50, 49, 45;
  }

  .decorative_element {
    display: none;
  }

  .decorative_element::after {
    display: none;
  }
}
