/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 355px;
  grid-template-rows: repeat(3,1fr);
  justify-self: center;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone::after, .decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  top: 10px;
  right: 0px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.decorated-zone::before {
  left: 0px;
  bottom: 10px;
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.decorative_element {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 25%;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--text-color);
}

.decorative_element::after {
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background-color: var(--text-color);
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--text-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-inline-end: 9px;
  margin-block-start: 21px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__theme-menu-item {
  color: var(--text-color);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  text-align: center;
  outline-offset: 1.5px 13px 1.5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
  pointer-events: none;
  /* outline-offset: 5px; */
}

.header__title {
  justify-self: center;
  align-self: center;
}

.header__title-text {
  color: var(--text-color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.header__paragraph {
  justify-self: center;
  align-self: center;
  height: 117px;
  margin-block-end: 25px;
}

.title-decor {
  background-color: var(--title-decor);
}

.header__paragraph-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-paragr);
}

.content {
  margin-block: 40px;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 355px;
  gap: 50px;
  justify-self: center;
}

.content__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__card:nth-child(4) {
  gap: 0px;
}

.content__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  /* margin-block-end: 20px; */
}

.content__card-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  border: none;
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid var(--par-color);
}

.content__card-paragraph {
  color: var(--par-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.content__card-title-text {
  color: var(--text-paragr);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  margin-block-end: 10px;
}

.content__card-title-text_exception {
  color: var(--text-paragr);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  margin-block-end: 19px;
}

.content__card-title-another_text {
  font-weight: 400;
  color: var(--text-paragr);
  line-height: 23.4px;
  font-size: 18px;
  margin-block-end: 10px;
}

.content__card-set_image {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 668px;
  height: 100vh;
}

.footer__container {
  justify-self: center;
  align-self: center;
}

.footer__container-text {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--text-color-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone-footer::after, .decorated-zone-footer::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone-footer::after {
  top: 10px;
  right: 11px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.decorated-zone-footer::before {
  left: 10px;
  bottom: 11px;
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media (width >= 768px) {
  body {
    min-inline-size: 768px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
    min-height: 1024px;
  }

  .header__theme-menu {
    align-self: end;
    margin-inline-end: 28px;
    margin-block-end: 61px;
  }

  .decorative_element {
    top: 25px;
    right: 30px;
  }
  
  .decorated-zone::after {
    top: 15px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 25px;
  }

  .header__title {
    justify-self: start;
    margin-block-end: 5px;
  }

  .header__title-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__paragraph {
    justify-self: end;
    align-self: start;
    margin-block-start: 37px;
    margin-block-end: 0;
    margin-inline-end: 20px;
    margin-inline-start: 384px;
  }

  .content {
    grid-template-columns: 1fr;
    margin-block: 55px;
    gap: 80px;
    margin-inline: 20px;
  }

  .content__card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
  .content__card:nth-child(1) {
    grid-template-rows: 1fr 1fr;
  }

  .content__card:nth-child(1) .content__card-article {
    grid-column: 2 / span 2;
    margin-inline-start: 7px;
  }

  .content__card:nth-child(2) .content__card-article {
    grid-column: 1 / span 3;
  }

  .content__card:nth-child(3) .content__card-article {
    grid-column: 2 / span 2;
    margin-inline-start: 7px;
  }

  .content__card:nth-child(4) .content__card-title {
    grid-column: span 3;
  }

  .content__card-set_image {
    grid-column: span 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 192px 230px 318px;
    grid-auto-flow: dense;
    margin-block-start: 9px;
    gap: 20px;
  }

  .content__card:nth-child(4) .content__card-figure:nth-child(1) {
    grid-column: span 2;
  }

  .content__card:nth-child(4) .content__card-figure:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .content__card:nth-child(4) .content__card-figure:nth-child(3) {
    grid-row: 2 / span 2;
  }

  .content__card:nth-child(4) .content__card-figure:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    min-height: 1024px;
  }

  .decorated-zone-footer::after {
    top: 25px;
    right: 20px;
  }

  .decorated-zone-footer::before {
    bottom: 15px;
    left: 20px;
  }

  .footer__container-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 10px;
  }
}

@media (width >= 1024px) {
  body {
    min-inline-size: 1024px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    /* grid-template-rows: 320px 245px 205px; */
    min-height: 768px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 97px;
  }

  .decorative_element {
    top: 30px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-end: 0;
    margin-block-end: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .header__title {
    align-self: start;
    margin-block-start: 40px;
  }

  .header__paragraph {
    margin-block: 0;
    margin-inline-start: 513px;
    block-size: 71px;
  }

  .header__paragraph .title-decor {
    margin-block-end: 20px;
  }

  .content {
    margin-block: -16px;
  }

  .content__card:nth-child(1) {
    gap: 0px;
    row-gap: 20px;
  }

  .content__card:nth-child(2) .content__card-article {
    grid-column: initial;
    grid-row: 2 / span 3;
  }
  
  .content__card:nth-child(3) .content__card-article {
    margin-inline-start: 0;
  }
  
  .content__card-set_image {
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-height: 768px;
  }

  .footer__container-text {
    padding-block-start: 80px;
  }

  .decorated-zone-footer::after {
    top: 97px;
  }

  .decorated-zone-footer::before {
    bottom: 20px;
  }
}