:root {
  --bg-img: url("../images/cover-image-dark.png");
  --text-color: #ff0070;
  --title-decor: #ff0070;
  --text-color-title: #db00ff;
  --bg-color: #000028;
  --text-paragr: #000028;
  --par-color: #f1b2ce;
  --accent-color: #ff0070;
}
